sudo: false

before_install:
  - export NOKOGIRI_USE_SYSTEM_LIBRARIES=true
  - npm install -g grunt-cli

install:
  - bundle install
  - npm install grunt grunt-html --save-dev

script: rake ci

# environment
language: ruby
rvm:
  - "2.2.3"
jdk:
  - oraclejdk8

branches:
  - 'master'

notifications:
  email:
    recipients:
      - "glen.robson@gmail.com"
    on_success: "change"
    on_failure: "change"
