---
title: "Showcase : Home Fractals"
id: showcase-fractals
categories: [pages]
layout: sub-page
---

<section class="showcase showcase-item wrapper">
  {% include showcase_return.html %}

  <iframe src="http://iiif.dnsdynamic.com:3128/iiifFractalWidget3128/?page1=M42D" frameborder="0"></iframe>
  <p>
    {% for item in site.data.showcase %}
      {% if item.id == "fractals" %}
        <p>{{ item.desc }}</p>
        {% if item.github_url %} <a href="{{ item.github_url }}" target="_blank" class="button-turquoise">GitHub</a> {% endif %}
      {% endif %}
    {% endfor %}
  </p>
</section>
