---
---
  {% include doctype.html %}
  {% include spec-head.html %}
  <body>
    {% include chromeframe.html %}
    {% include nav.html %}
    <div class="sub-pages-container">
      <div class="{{ page.id }} clearfix">
        <article>
          {% include sub-page_header.html %}
          {% for word in site.data.rfc_words %}
            {% assign upper = word | prepend: '<em>' | append: '</em>' %}
            {% assign lower = upper | downcase | replace: '<em>', '<em class="rfc">' %}
            {% assign content = content | replace: upper, lower %}
          {% endfor %}
          <div class="specbody">
          {{ content }}
          </div>
        </article>
      </div>
    </div>
    {% include footer.html %}
    {% if page.id == 'main' %}{%  include interactive_image_js.html %}{% endif %}
    {% include ga.html %}
  </body>
</html>
