<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/vendor/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/vendor/slick.min.js"></script>
<link rel="stylesheet" property="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/vendor/slick.css"/>

<section class="carousel-wrapper">
    <div class="carousel-head">Highlights</div>
    <div class="wrapper">
        <div id="carousel">
            {% for i in site.data.showcase %}
              <div class="carousel-tab">
                <a href="{{ i.url }}" style="border: none;"><img width="400" src="{{ i.img_url }}" alt="{{ i.name }}"/></a>
                <b style="color: #E0E0E0">{{ i.name }}</b>
              </div>
            {% endfor %}
        </div>
    </div>
</section>

<script type="text/javascript">
  $('#carousel').slick({
    slidesToShow: 3,
    slidesToScroll: 3,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 2000,
    pauseOnHover: true,
    variableWidth: false,
    responsive: [
        {
            breakpoint: 1100,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 2
            }
        },
        {
            breakpoint: 700,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1
            }
        }
    ]
  });
</script>
