---
---

.wrapper {
  font-family: sans-serif;
  width: 80%;
  margin: 0 5%;
}

.sub-pages-container {
  font-family: sans-serif;
  color: #222;
  line-height: 1.2;

  code, kbd, pre, samp {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1em;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px
  }

  article h1 {
    font-family: sans-serif;
  }
  .specbody {
    margin: 0 5%;

    .fullPct {
      width: 100%;
    }

    .ex_table {
      width: 100%;
      margin-top: 5px;
      tr {
        vertical-align: top;
        td {
          text-align: center;
          p  {
            margin: 0;
            line-height: 1.2;
            padding: 0;
          }
          img {
            max-width: 350px;
          }
          strong {
            background: red;
            color: white;
            font-weight: bold;
            font-family: sans-serif;
            padding-left: 3px;
            margin-left: 2px;
            padding-right: 3px;
            margin-right: 2px;
            border-radius: 3px;
          }
        }
      }
    }

    .floatRight {
      float:right;
      padding-right: 30px;
    }

    .h400px {
      height: 400px;
    }

    h2 {
      font-family: sans-serif;
      color: #2f353e;
      font-weight: 300;
      letter-spacing: 1px;
      margin-top: 16px
    }

    h3 {
      font-weight: 300;
      color: #2f353e;
      font-family: sans-serif;
      margin-top: 12px
    }

    h4 {
      font-weight: 300;
      color: #2f353e;
      font-family: sans-serif;
      margin-top: 12px;
    }

    .names {
      padding-top: 0;
      margin-top: 0;
      li {
        line-height: 1.1;
        list-style: none
      }
    } // x .names

    .warning {
      border-left: 4px solid #E05252;
      background: #fbe9e9;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;

      strong {
        font-weight: bold;
        color: #E05252;
      }
    }

    .api-table {
      td:first-child {
        font-size: 1.1em;
        font-family: 'Ubuntu Mono', ;
      }
      td {
        font-family: sans-serif;
      }
    } // .api-table
  } // x .specbody
} // x .sub-pages-container

.usage {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 2px;
  font-style: italic
}
dd ul li {
  margin: 0px;
  padding: 0px
}
dd ul {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px
}
dt {
  font-weight: bold;
  margin-top: 8px
}
.examplelist li {
  margin-bottom: 8px
}
.examplelist li code {
  background: #eee;
  border: 1px dashed #bbb;
  padding: 3px
}

div.highlight {
  margin: 0;
  padding: 0;
}

pre.highlight {
  background: #f2f2f2;
  border: 1px dashed #bbb;
  padding-left: 5px;
  margin-left: 30px

}

.python {
  .c {
    font-style: italic;
    color: #909090;
  }
  .n {
    color: #202090;
  }
  .o {
    color: black;
  }
  .k {
    color: green;
  }
  .mi {
    color: #209020;
  }
  .nb {
    color: #902020;
  }
  .kn {
    color: #902090;
  }
  .nn {
    color: #202090;
  }
  .p {
    color: black;
  }
  .s {
    color: #209020;
  }

}

.json {
  .c1 {
    font-style: italic;
    color: #909090
  }
  .s2 {
    color: #209020
  }
  .nt {
    color: #202090
  }
  .p {color: black}
  .o {color: black}
  .err {
    font-style: italic;
    color: #909090
  }
  .mi {
    color: #902020
  }
  .mf {
    color: #902020
  }
}


.CodeRay {
  background: #eee;
  border: 1px dashed #bbb;
  padding-left: 5px;
  margin-left: 30px
}
.string {
  color: #209020
}
.comment {
  font-style: italic;
  color: #909090
}
.key {
  color: #202090
}
.integer {
  color: #902020
}
.error {
  color: red;
  font-weight: bold;
  font-size: +1
}
pre {
  margin-top: 8px;
  margin-bottom: 8px
}
.urltemplate {
  background: #eee;
  border: 1px dashed #bbb;
  padding-left: 5px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px
}

.codetemplate {
  background: #eee;
  border: 1px dashed #bbb;
  padding: 5px 15px;
}

.mytoc ol {
  margin: 0px;
  margin-top: 2px
}
.rfc {
  color: #d55;
  font-variant: small-caps;
  font-style: normal;
  font-size: 1.2em;
  line-height: 0.8333
}
.legend {
  width: 50%
}
table {
  border: 1px solid black;
}
tr {
  border: 1px solid #666;
}
td, th {
  border: 1px solid #666;
  padding: 3px
}
#markdown-toc li {
  list-style-type: none;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1.1;
  margin-top: 8px;
  margin-bottom: 8px
}
#markdown-toc ul {
  margin-top: 8px;
  margin-bottom: 8px
}
