---
---
body {
  line-height: 1.2;

}
* {
  font-family: sans-serif;
}
p {
  margin-top: 10px;
  margin-bottom: 10px
}
.wrapper {
  font-family: sans-serif;
  width: 80%;
  margin: 0 5%;
}

code, kbd, pre, samp {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1em;
}

.sub-pages-container {
  article h1 {
    font-family: sans-serif;
  }
  .specbody {
    width: 80%;
    margin: 0 5%;

    h2 {
      font-family: sans-serif;
      color: #2f353e;
      font-weight: 300;
      letter-spacing: 1px;
      margin-top: 16px
    }

    h3 {
      font-family: sans-serif;
      margin-top: 12px
    }

    h4 {
      font-family: sans-serif;
      margin-top: 10px
    }

    .names {
      padding-top: 0;
      margin-top: 0;
      li {
        line-height: 1.1;
        list-style: none
      }
    } // x .names

    .image-api-table {
      td:first-child {
        font-size: 1.1em;
        font-family: 'Ubuntu Mono', ;
      }
      td {
        font-family: sans-serif;
      }

    } // .image-api-table
  } // x .specbody
} // x .sub-pages-container

.usage {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 2px;
  font-style: italic
}
dd ul li {
  margin: 0px;
  padding: 0px
}
dd ul {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px
}
dt {
  font-weight: bold;
  margin-top: 8px
}
.examplelist li {
  margin-bottom: 8px
}
.examplelist li code {
  background: #eee;
  border: 1px dashed #bbb;
  padding: 3px
}
.CodeRay {
  background: #eee;
  border: 1px dashed #bbb;
  padding-left: 5px;
  margin-left: 30px
}
.string {
  color: #209020
}
.comment {
  font-style: italic;
  color: #909090
}
.key {
  color: #202090
}
.integer {
  color: #902020
}
.error {
  color: red;
  font-weight: bold;
  font-size: +1
}
pre {
  margin-top: 8px;
  margin-bottom: 8px
}
.urltemplate {
  background: #eee;
  border: 1px dashed #bbb;
  padding-left: 5px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px
}
.mytoc ol {
  margin: 0px;
  margin-top: 2px
}
.rfc {
  color: #d55;
  font-variant: small-caps;
  font-style: normal;
  font-size: 1.2em
}
.legend {
  width: 50%
}
table {
  border: 1px solid black
}
tr {
  border: 1px solid #666
}
td, th {
  border: 1px solid #666;
  padding: 3px
}
#markdown-toc li {
  list-style-type: none;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1.1;
  margin-top: 8px;
  margin-bottom: 8px
}
#markdown-toc ul {
  margin-top: 8px;
  margin-bottom: 8px
}
