<head>
    <meta charset="utf-8">
    <title>{{ page.title }} &mdash; {{ site.data.organization.name }}</title>
    <meta name="description" content="{{ site.data.organization.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/normalize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,300,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/main.css">
    <link type="application/atom+xml" rel="alternate" href="{{page.webprefix}}/news/atom.xml"/>
    <script src="{{ site.url }}{{ site.baseurl }}/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous" ></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/vendor/anchor.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/anchor.js"></script>
  </head>
