<div class="header-container">
      <header class="wrapper clearfix">
        <a class="title" title="IIIF : International Image Interoperability Framework" href="/">Home</a>
        <nav>
          <ul>
            <li><a {% if page.id == 'about' %}class="is-selected"{% endif %} href="/about.html">About</a></li>
            <li><a {% if page.id == 'technical-details' %}class="is-selected"{% endif %} href="/technical-details.html">Technical Details</a></li>
            <li><a {% if page.id == 'apps_demos' %}class="is-selected"{% endif %} href="/apps-demos.html">Apps &amp; Demos</a></li>
            <li><a {% if page.id == 'community' %}class="is-selected"{% endif %} href="/community.html">Community</a></li>
            <li><a {% if page.url contains 'blog' %}class="is-selected"{% endif %} href="/blog/">Blog</a></li>
          </ul>
        </nav>
      </header>
    </div>
