<head>
    <meta charset="utf-8">
    <title>{{ page.title }} &mdash; {{ site.name }}</title>
    <meta name="description" content="International Image Interoperability Framework: A community driven image framework with well defined APIs for making the world’s image repositories interoperable and accessible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spec-doc{{ page.major }}.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link type="application/atom+xml" rel="self" href="/news/atom.xml"/>
    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
