name: github pages deploy

on:
  push:
    branches:
      - wireframe

jobs:
   deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: install
        run: gem install bundler && bundle
      - name: test
        run: bundle exec jekyll build && bundle exec rake check_html
      - name: clean
        run: bundle exec jekyll clean
      - name: build
        run: bundle exec jekyll build --config _ghpages_config.yml
      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
